 *{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* background-color: #1830b9; */
} 

header{
    height: 60px;
    width:100%;
    /* position: absolute; */
    top:0;
    /* z-index: 2; */
    /* background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    background: black;
    position:sticky;

}

#logo{
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #3498db;
}

#logo:hover{
    color: #ecf0f1;
}
#logo-s{
    color: #ecf0f1;
    margin-left: 5px;
}

#logo:hover #logo-s{
    color:#3498db;
}

.sign{
    float:right;
    line-height: 60px;
    margin-right: 40px;
}

.sign a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
}

.act{
    border: 2px solid #fff;
    border-radius: 50px;
    padding:6px 15px;
}

.sign a:hover{
    color:#3498db;
}





.re_item{
    /* height: 100vh;
    width: 100vw; */
    background-color:rgb(233, 162, 30);
    display: flex;
    min-height: 100vh;
}

form .btn1{
    background-color: #3498db;
    border-radius: 20px;
}



#re-form {
    /* max-width: 500px; */
    margin-left:5%;
    padding:50px;
    background-color: aqua;
    border-radius: 50px;
    margin-top: 30px;
}

#re-form .left{
      float: left;
}

.user_info input{
    width:150px;
    height: 30px;
}

.user_info select{
    height: 30px;
    width: 150px;
}

#amount{
    width:150px;
    height: 30px;
}

#re-form .right{
    float: right;
}

#re-form .radiobutton{
    padding: 20px;
}
#re-form li{
    padding: 5px;
    list-style: none;
}

.right h2{
    text-align: center;
    margin-top: 20px;
}
.company{
    display: flex;
    margin: 20px;
    /* height: 200px; */
}

.box{
    padding: 20px;
    cursor: pointer;
}

.box a{
    color: black;
    text-decoration: none;
}






#plans{
    background-color: aqua;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    /* height: 500px; */
    /* display: none; */
    /* position: fixed; */
}

#jio{
    display: none;
}
#airtel{
    display: none;
} 

#bsnl{
    display: none;
}

#vi{
    display: none;
}

#mtnl{
    display: none;
}

#plans .pcategory{
    text-align: center;
    padding: 20px;
}

#plans .pcategory th{
    padding: 20px;
    background-color: red;
    cursor: pointer;
    border: 1px solid black;
}

#plans .pcategory th:hover{
    background: aqua;
}

/* .each-plan{
     height: px;
}  */

.mainplan{
    display: flex;
    flex-direction: column;
}
.mainplan .money{
    background-color: rebeccapurple;
    float: left;
    margin:5px;
    height: 40px;
    width:80px;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid black;
    cursor: pointer;

}

.mainplan .money:active{
    background-color: aqua;
}


